@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Karla", sans-serif;
}

/* Custom Ant label require */
.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-required span::after {
  display: inline-block;
  margin-inline-start: 6px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-item-required span:first-child::after {
  display: inline-block;
  margin-inline-start: 4px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-item
  .ant-form-item-label
  > label
  .ant-form-item-tooltip:nth-child(2) {
  margin-inline-start: 14px;
}

.ant-form-item
  .ant-form-item-label
  > label
  .ant-form-item-tooltip:nth-child(2)::after {
  display: none !important;
}

span#required::after {
  display: inline-block;
  margin-inline-start: 6px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}
