@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: "Karla", sans-serif;
}

/* Custom Ant label require */
.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item-required span::after {
  display: inline-block;
  margin-inline-start: 6px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-item-required span:first-child::after {
  display: inline-block;
  margin-inline-start: 4px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-item
  .ant-form-item-label
  > label
  .ant-form-item-tooltip:nth-child(2) {
  margin-inline-start: 14px;
}

.ant-form-item
  .ant-form-item-label
  > label
  .ant-form-item-tooltip:nth-child(2)::after {
  display: none !important;
}

span#required::after {
  display: inline-block;
  margin-inline-start: 6px;
  position: absolute;
  color: #ff4d4f;
  font-size: 12px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
